@model StepOverflow.Areas.Register.Models.SignUpViewModel
@Html.Raw(TempData["msg"])
@{
	ViewData["Title"] = "SignUp";
}
@*
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input asp-for="Username" type="text" id="form3Example1c" class="form-control" />
	<label asp-for="Username" class="form-label"></label>

	<input asp-for="Email" type="email" id="form3Example3c" class="form-control" />
	<label asp-for="Email" class="form-label"></label>

	<input asp-for="Password" type="password" id="form3Example4c" class="form-control" />
	<label asp-for="Password" class="form-label"></label>

	<input type="submit" value="Sign Up" class="btn btn-primary" />
	</form>
	*@
<div class="form-v10-content">
	<form class="form-detail" asp-action="SignUp">
		<div class="form-left">
			<h2>General Infomation</h2>
			<div class="form-row">
				<input asp-for="Username" type="text" id="form3Example1c" class="input-text" placeholder="Username" required />
			</div>
			<div class="form-row">
				<input asp-for="Password" type="password" id="form3Example4c" class="input-text" placeholder="Password" required />
			</div>
			<div class="form-row">
				<input asp-for="Password" type="password" id="form3Example4c" class="input-text" placeholder="Repeat Password" required />
			</div>
			<div class="form-row">
				<input asp-for="Location" type="text" id="form3Example4c" class="input-text" placeholder="Location" required />
			</div>
		</div>
		<div class="form-right">
			<h2>Contact Details</h2>
			<div class="form-row">
				<input asp-for="Biography" type="text" id="form3Example4c" class="input-text" placeholder="Short Bio" required />
			</div>
			<div class="form-group">
				<div class="form-row">
					<input asp-for="PhoneNumber" type="text" id="form3Example4c" class="input-text" placeholder="Phone Number" required />
				</div>
			</div>
			<div class="form-row">
				<input asp-for="Email" type="text" id="form3Example4c" class="input-text" placeholder="Email" required />
			</div>
			<div class="form-checkbox">
				<label class="container">
					<p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
					<input type="checkbox" name="checkbox">
					<span class="checkmark"></span>
				</label>
			</div>
			<div class="form-row-last">
				<input type="submit" class="register" value="Sign Up">

			</div>
		</div>
	</form>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
